[run]
branch = True
parallel = True
concurrency = thread,multiprocessing
omit =
    */constants/*
source =
    pwn
    pwnlib
    ~/.cache/.pwntools-cache-2.7/
    ~/.cache/.pwntools-cache-3.8/
disable_warnings = module-not-imported
