sudo: false
language: python
cache:
    - pip
    - directories:
        - usr
        - /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/
        - /home/travis/virtualenv/python2.7.9/bin/
python:
  - "2.7"
before_install:
  - source .travis_install.sh
  - source .travis_ssh_setup.sh
install:
  - pip install -e .
  - pip install -r docs/requirements.txt
before_script:
  - python -c 'from pwn import *; print pwnlib.term.term_mode' NOTERM
  - python -c 'from pwn import *; print pwnlib.term.term_mode' NOTERM
  - python -c 'from pwn import *; print pwnlib.term.term_mode' NOTERM
  - python -c 'from pwn import *; print pwnlib.term.term_mode' NOTERM
script: PWNLIB_NOTERM=1 make -C docs doctest

