sudo: false
language: python
addons:
  apt:
    packages:
    - gcc-multilib
    - gcc-4.6-arm-linux-gnueabihf
cache:
    - pip
    - directories:
        - usr
        - /home/travis/virtualenv/python2.7.9/lib/python2.7/site-packages/
        - /home/travis/virtualenv/python2.7.9/bin/
python:
  - "2.7"
after_success:
  - coveralls
before_install:
  - source .travis_install.sh
  - source .travis_ssh_setup.sh
install:
  - pip install -e .
  - pip install -r docs/requirements.txt
before_script:
  - PWNLIB_NOTERM=1 python -c 'from pwn import *; print pwnlib.term.term_mode'
  - PWNLIB_NOTERM=1 python -c 'from pwn import *; print pwnlib.term.term_mode'
  - PWNLIB_NOTERM=1 python -c 'from pwn import *; print pwnlib.term.term_mode'
  - PWNLIB_NOTERM=1 python -c 'from pwn import *; print pwnlib.term.term_mode'
script:
  - PWNLIB_NOTERM=1 coverage run -m sphinx -b doctest docs/source docs/build/doctest
